html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}
a{
	text-decoration: none;
}
body{ 
	background-image:url("../boi_bilder/hintergrund.png"); 
	background-attachment: fixed;
	font-family: arial;
	background-size: cover;
}

/*********************************/
.greybackground {
	background-color: rgba(128,128,128,0.8);
	margin-left: 20%;
	margin-right: 20%;
	border-radius: 10px;
	padding: 15px 0px 15px 0px; 
}
/********************************/
#headline{
	color: black;
	text-align: center;
	margin-top: 25px;
}
#auswahl{
	margin-left: 12%;
	font-size: larger;
	color: white;
}
#search{
	background-color: blue;
	color: white;
	border-radius: 10px;
	padding: 10px 100px 10px 100px;
	width: 100%;
}
#find{
	width: 260px;
    height: 40px;
    border: 2px solid #999;
    border-radius: 5px;
    font-size: 1.0em;
    transition: width 0.5s ease-in-out;
    align-content: center;
    margin: 20px 20px;
	padding: 5px;
	background-color: rgba(255, 255, 255);