html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}
button {
  background-color: rgba(63, 169, 201, 1.0);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float: right;
  margin-right: 25px;
  margin-bottom: 15px;
  border-radius: 10px;
}
p{
	color:white;
	font-size: 25px;
	margin-left:30px;
	margin-top: 30px;

}
body{ 
	background-image:url("../boi_bilder/hintergrund.png");  
	background-attachment: fixed;
	font-family: arial, sans-serif;
	background-size: cover;
}
hr{
	border: 1px solid black;
	margin: 0px;
}
aside {
	float: right;
}
/*************************************/
.greybackground{
    background-color: rgba(128,128,128,0.8);
	margin: 3% 10%;
	border-radius: 10px;
	padding: 25px 5px 25px 5px;
	
}

/*************************************/
#greyinbox {
	background-color: rgba(190,190,190,0.7);
	margin-top: 5px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 50px;
	border-radius: 10px;
	
}
#headline{
	color: white;
	
	
	text-align: center;
}
#auswahl{
	margin-left: 25%;
}